<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="ri-linkedin-box-fill"></i>
      <i class="ri-instagram-line"></i>
      <i class="ri-youtube-fill"></i>
      <i class="ri-facebook-circle-fill"></i>
      <i class="ri-twitter-fill"></i>
    </div>
    <div class="Manjeet">
      Manjeet
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>