<% layout("/layouts/boilerplate") %>

  <div class="row mt-3">
    <div class="alert col-6 offset-2 alert-light" role="alert">


      <h4 class="alert-heading">
        <%= err.message %>
      </h4>
      <p>
        <%=err.stack %>
      </p>
    </div>
  </div>